<link rel="stylesheet" href="../../stylesheets/admin-dashboard.css">
<div class="container ">
  <a href="/admin/loginverify/logout" class="btn btn-success logout-btn  my-2">Logout</a>
    <div class="row">
<table class="table" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">Booking_ID</th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Date</th>
      <th scope="col">PH.no</th>
      <th scope="col">Time-start</th>
      <th scope="col">Time-end</th>
      <th scope="col">Tables</th>
       <th scope="col">cancel</th>
    </tr>
  </thead>
  <tbody id="revtable">
      {{#each reservations}}
    <tr>
       <th scope="row">{{this.bookID}}</th>
      <th scope="row">{{this.name}}</th>
      <td>{{this.email}}</td>
      <td>{{this.date}}</td>
      <td>{{this.phoneno}}</td>
      <td>{{this.starttime}}</td>
      <td>{{this.endtime}}</td>  
      <td>{{this.tables}}</td>
      <td>
      <form action="/admin/loginverify/deleterecord" method="POST">
       <button class="btn btn-secondary" name="bookID" value="{{this.bookID}}">Delete</button>
       </form>
       </td>
      </tr>
      {{/each}}
 
  </tbody>
</table>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
  $("#adminsearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#revtable").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>